body {
    background: #FFF;
    text-align: left;
    padding: 0 25px;
    font-family: helvetica, arial, sans-serif;
}

.message {
  width: 300px;
  background-color: silver;
  font-style: italic;
  text-align: left;
}

.votes {
 font-size: 15px;
 padding-top: 10px;
}